.App {
  text-align: center;
}

.app-header {
  width: 80%;
  margin: 0 10% 0 10%;
}

.App-link {
  color: #61dafb;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 3% 10%;
}

.chart-left {
  padding-left: 10%;
}

.chart-right {
  padding-right: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
